/* TODO Add site wide styles */
/* Navbar */
body{
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: #0E3541;
    height: 6em;
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
}

nav a:visited{
    color: #ffffff;
}

#firemoney_icon{
    width: 4.5em;
    margin-top: .8em;
    margin-left: 2em;
}

.home_link{
    margin-left: .5em;
    height: 100%;
    font-size: 2.5em;
    position: relative;
    top: -.5em;
    font-weight:bold;
    letter-spacing: 0.01em;
}

.welcome_text{
    font-size: 2em;
    color: #ffffff;
    padding-top: 1em;
    position: absolute;
    right: 10em;
}

.hb_menu{
    background-color: #0E3541;
    width: 15em;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 6em;
}

.hb_menu img {
    width: 3em;
}

.hb_menu *{
    margin: .5em 0 .25em 0;
    display: flex;
}

.hb_link_text{
    font-size: 2em;
    text-align: left;
    margin-left: 1em;
    color: #ffffff;
}

.hb_link{
    margin-left: 1.5em;
}

.hb_menu_button{
    position: absolute;
    right: 2em;
    top: 2em;
}

.hb_menu_button img{
    width: 3em;
}

#transaction_link_text{
    font-size: 1.5em;
    margin-top: .8em;
}


/* Landing Page */
.landing_page_image{
    background-image: url("./images/mountain_road.png");
    background-size: cover;
    height: 60em;
    color: #ffffff;
    box-sizing: border-box;
    margin: 0;
}

.landing_page_text{
    margin: 0;
    font-size: 4em;
    width: 13em;
    padding-top: 4.5em;
    padding-left: .5em;
}

.build_budget_button{
    font-size: 2em;
    border-radius: .25em;
    text-align: center;
    background-color: #FC6100;
    color: #ffffff;
    height: 2em;
    width: 9em;
    margin: 1em 0 0 7em;
}

.build_budget_button a, .build_budget_button a:visited{
    text-decoration: none;
    color: #ffffff;
}

.tiles_heading_text{
    text-align: center;
    font-size: 3em;
}

.tiles_container{
    display: flex;
    justify-content: center;
    /* margin: 0 auto; */
}

.landing_page_tile{
    background-color: #095461;
    color: #ffffff;
    font-size: 3em;
    width: 10em;
    height: 10em;
    border-radius: 1em;
    margin: 0 1em;
}

.tiles_text{
    margin: 1em auto .5em;
    width: 5em;
    text-align: center;
}

.control_tile_text{
    width: 6em;
}

.landing_page_tile_images{
    width: 4.5em;
    margin: 0 auto;
    display: flex;
}

.budget_button_container{
    display: flex;
}

.lower_button{
    margin: 1em auto;
}

/* Form Modals */
.form_modal{
    width: 20em;
}

.signup_modal{
    width: 24em;
}
.form_modal *{
    display: block;
}

.form_modal h2{
    font-size: 2.5em;
}

.form_modal_div *{
    width: fit-content;
    margin: .5em auto;
    font-size: 1.5em;
}

.form_modal_div input{
    width: 10em;
}

.modal_button{
    padding: .4em 1em;
    background-color: #1286CE;
    color: #ffffff;
    border-radius: .3em;
}

.redirect_modal_link{
    width: fit-content;
    margin: 0 auto;
}
.redirect_modal_link a{
    margin-left: .5em ;
}
.redirect_modal_link a:visited{
    color: #ffffff;
}

/* Budget Month Page */
.budget_group_container{
    margin: 0 auto;
    width: 90%;
    border: #707070 solid .2em;
    border-radius: .5em;
}
.budget_group_heading_container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-areas:
    "budgetTitle . budgetAmount budgetSpent";
    justify-items: center;
}
.budget_group_title{
    grid-area: budgetTitle;
    justify-self: flex-start;
    margin: 0 0 0 3em;
}
.budget_group_amount{
    grid-area: budgetAmount;
}
.budget_group_spent{
    grid-area: budgetSpent;
}

.budget_group_amount{

}

/* Budget Item */

.budget_group_item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    padding: 1em 0;
    justify-items: center;
}

.budget_group_item::after{
    content: ' ';
    margin: 0 auto;
    width: 95%;
    display: block;
    border-bottom: .3em solid #12788B;
}

.budget_item_title{
    justify-self: flex-start;
    margin: 0 0 0 3em;
}

.add_budget_item_container{

}

.add_budget_item_button{
    font-size: 1em;
    color: #5B90D4;
    background-color: #ffffff;
    border: none;
    /* margin-left: 2em; */
        /* justify-self: flex-start; */
    margin: 0 0 0 2em;
}

/* Transaction */

.item_transactions_container{
    /* display: none; */
    width: 80%;
    margin: 0 auto;
}

.transaction_heading_container, .item_transaction{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.transaction_buttons{
   display: flex;
}
.transaction_buttons button{
    height: fit-content;
    margin: .1em auto;
}
