
body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.page_container{
    height: 100vh;
}

.transactions_page_container, .profile_page_container, .budget_page_container {
    width: 90%;
    margin: 0 auto;
}