/* TODO Add site wide styles */

/* Navbar */

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #0E3541;
    height: 6em;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
}

nav a:visited {
    color: #ffffff;
}

#firemoney_icon {
    width: 4.5em;
    margin-top: .8em;
    margin-left: 2em;
}

.home_link {
    margin-left: .5em;
    height: 100%;
    font-size: 2.5em;
    position: relative;
    top: -.5em;
    font-weight: bold;
    letter-spacing: 0.01em;
}

.welcome_text {
    font-size: 2em;
    color: #ffffff;
    padding-top: 1em;
    position: absolute;
    right: 10em;
}

.hb_menu {
    background-color: #0E3541;
    width: 15em;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 6em;
}

.hb_menu img {
    width: 3em;
}

.hb_menu * {
    margin: .5em 0 .25em 0;
    display: flex;
}

.hb_link_text {
    font-size: 2em;
    text-align: left;
    margin-left: 1em;
    color: #ffffff;
}

.hb_link_text:hover {
    text-decoration: underline;
}

.hb_link {
    margin-left: 1.5em;
}

.hb_menu_button {
    position: absolute;
    right: 2em;
    top: 2em;
}

.hb_menu_button img {
    width: 3em;
}

#transaction_link_text {
    font-size: 1.5em;
    margin-top: .8em;
}

/* Landing Page */

.landing_page_image {
    background-image: url("./images/mountain_road.png");
    background-size: cover;
    height: 60em;
    color: #ffffff;
    box-sizing: border-box;
    margin: 0;
}

.landing_page_text {
    margin: 0;
    font-size: 4em;
    width: 13em;
    padding-top: 4.5em;
    padding-left: .5em;
}

.build_budget_button {
    font-size: 2em;
    border-radius: .25em;
    text-align: center;
    background-color: #FC6100;
    color: #ffffff;
    height: 2em;
    width: 9em;
    margin: 1em 0 0 7em;
}

.build_budget_button:hover {
    background-color: #1286CE;
    cursor: pointer;
}

.build_budget_button a, .build_budget_button a:visited {
    text-decoration: none;
    color: #ffffff;
}

.tiles_heading_text {
    text-align: center;
    font-size: 3em;
}

.tiles_container {
    display: flex;
    justify-content: center;
    /* margin: 0 auto; */
}

.landing_page_tile {
    background-color: #095461;
    color: #ffffff;
    font-size: 3em;
    width: 10em;
    height: 10em;
    border-radius: 1em;
    margin: 0 1em;
}

.tiles_text {
    margin: 1em auto .5em;
    width: 5em;
    text-align: center;
}

.control_tile_text {
    width: 6em;
}

.landing_page_tile_images {
    width: 4.5em;
    margin: 0 auto;
    display: flex;
}

.budget_button_container {
    display: flex;
}

.lower_button {
    margin: 1em auto;
}

/* Form Modals */

.form_modal {
    width: 20em;
}

.signup_modal {
    width: 24em;
}

.form_modal * {
    display: block;
}

.form_modal h2 {
    font-size: 2.5em;
}

.form_modal_div * {
    width: fit-content;
    margin: .5em auto;
    font-size: 1.5em;
}

.form_modal_div input {
    width: 10em;
}

.modal_button {
    padding: .4em 1em;
    background-color: #ffffff;
    color: #000000;
    border-radius: .3em;
}

.modal_button:hover {
    background-color: #1286CE;
    color: #ffffff;
}

.redirect_modal_link {
    width: fit-content;
    margin: 0 auto;
}

.redirect_modal_link span {
    margin-left: .5em;
    text-decoration: underline;
}

.redirect_modal_link span:hover {
    cursor: pointer;
    background-color: #1286CE;
}
.errors{
    text-align: center;
}

/* Budget Month Page */

.budget_group_container, .add_group_container {
    margin: 1em auto;
    width: 90%;
    border: #707070 solid .2em;
    border-radius: .5em;
    padding-bottom: 1em;
}

.add_group_container {
    border-style: dashed;
}

.budget_group_heading_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.4fr;
    grid-template-areas: "budgetTitle . budgetDate budgetAmount budgetSpent .";
    justify-items: center;
}

.budget_group_title {
    grid-area: budgetTitle;
    justify-self: flex-start;
    margin: 0 0 0 3em;
}

.budget_group_amount {
    grid-area: budgetAmount;
}

.budget_group_spent {
    grid-area: budgetSpent;
}

.budget_group_date {
    grid-area: budgetDate;
}

.budget_item_title {
    justify-self: flex-start;
    margin: 0 0 0 3em;
    width: 80%;
    /* grid-area: budgetTitle; */
}


 .budget_item_buttons button {
    width: 5em;
    margin-right: 1em;
}

/* Budget Item */

.budget_group_item {
    display: grid;
    margin: 1em auto;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr .5fr;
    padding: 1em 0;
    justify-items: center;
}

.budget_group_items_container, .profile_container {
    width: 95%;
    margin: 1em auto;
    border-bottom: .3em solid #12788B;
}

.add_budget_item_button, .add_group_button {
    font-size: 1em;
    color: #5B90D4;
    background-color: #ffffff;
    border: none;
    margin: 1em 0 0 2em;
}

.add_group_button span {
    font-size: 1.2em;
    margin-right: .2em;
}

/* Transaction */

.item_transactions_container {
    /* display: none; */
    width: 80%;
    margin: 0 auto;
}

.transaction_heading_container, .item_transaction {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin: 1em auto;
}

.transaction_heading_container *, .item_transaction * {
    justify-self: flex-start;
}

.transaction_date{
    width: 15em;
}

.transaction_amount {
    margin-left: 2em;
}

.transaction_buttons {
    display: flex;
    margin-bottom: 1em;
}

.transaction_buttons button {
    height: fit-content;
    margin: .1em auto;
}

/* Profile Page */
.profile_months_container{
    width: 95%;
    margin: 1em auto;
}

.profile_months_card_container{
    display: flex;
}

.profile_month_card{
    width: 15em;
    margin: 1em auto;
    text-align: center;
}

.profile_month_card li{
    list-style-type: none;
    text-align: left;
}