/* Transaction */

.page_container {
    width: 100%;
}

.item_transactions_container {
    /* display: none; */
    width: 80%;
    margin: 0 auto;
}

.transaction_heading_container, .item_transaction {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    margin: 1em auto;
}

.transaction_amount {
    margin-left: 2em;
}

.transaction_buttons {
    display: flex;
    margin-bottom: 1em;
}

.transaction_buttons button {
    height: fit-content;
    margin: .1em auto;
}
